@import '~bootstrap/scss/bootstrap';

$lightgreen: #6DD9BF;
$darkgreen: #50A18E;
$yellow: #F2D680;
$orange: #F2916D;
$red: #F26E50;

$blue: #002A69;
$tan: #DDB3A2;
$offwhite: #EADDE6;
$darkblue: #00224B;
$lightblue: #2c61b0;
$pink: #FD858D;
$darkpink: #d47077;
$lightpink: #fca2a8;

$grey: #59606a;

body {
  background-image: url('public/Wall.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font-family: belgrano, serif;
}

nav {
  overflow: hidden;
  height: 5em;
  background-color: $blue;
  position: fixed;
  top: 0;
}

main {
  background-color: rgba(234, 221, 230, 0.7);
  margin-left: 250px;
  height: 100vh;
}

p {
  margin: 0;
}

.nav-title {
  font-family: megrim, fantasy;
  color: white;
}

.nav-left {
  width: 250px;
  height: 100vh;
  background-color: $tan;
  position: fixed;
  // top: 80px;
  z-index: 3;
}

.producer {
  padding: 1em;
  color: $darkblue;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.select {
  margin: 0 0 1.5em;
  height: 2em;
  width: 300px;
  border-radius: 5px;
}

.player {
  padding: 2em 0;
  width: 100%;
  // display: flex;
  // justify-content: center;
}

.play-btn {
  margin-top: 1.3em;
  width: 300px;
  border-radius: 5px;
  background-color: $blue;
  color: white;
  // box-shadow: 2px 2px 10px grey;

}

.play-btn:hover {
  background-color: lighten($darkblue, 10%);
}

.stop {
  background-color: $pink;
}

.block {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 100%;
}

.slider-container {
  // background-color: green;
  margin: 0 auto;
  width: 300px;
}

.slider-label {
  display: inline;
  width: 100px;
}

input {
  width: 200px;
}

.key {
  width: 100px;
  height: auto;
  margin: 5px;
  z-index: 4;
  // filter: sepia(75%);
}

.key:hover, .key-pressed {
  cursor: pointer;
  filter: brightness(1.5);
    -webkit-filter: brightness(1.5);
}

.key-container {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  filter: hue-rotate(120deg);
    -webkit-filter: hue-rotate(120deg);
}

.key-div {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: $pink;
  // z-index: 10;
}

.letter {
  color: white;
  font-size: 22px;
  position: absolute;
  z-index: 5;
  padding-bottom: 10px;
}

.producer-div {
  background-color: $tan;
  transition: .5s;
}
.producer-div:hover {
  background-color: $pink;
}

h1 {
  text-align: center;
  color: $darkblue;
  margin-bottom: 0.7em;
}

.selected {
  text-decoration: underline;
  // background-color: $pink;
  // border-bottom: 2px;
  // border-style: solid;
  // border-color: $blue;
}

.custom-range {
  width: 200px;
}

input:focus {
  outline: 0;
}

.range {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.custom-range::-webkit-slider-thumb {
  background: radial-gradient($lightpink, $darkpink);
}

.custom-range::-moz-range-thumb {
  background: radial-gradient($lightpink, $darkpink);
}

.custom-range::-ms-thumb {
  background: radial-gradient($lightpink, $darkpink);
}

.custom-range::-webkit-slider-runnable-track {
  background: linear-gradient($darkblue, $lightblue);
}

.custom-range::-moz-range-track {
  background: linear-gradient($darkblue, $lightblue);
}

label {
  color: $darkblue;
}

.key-row {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .nav-left {
    width: 140px;
  }
  .producer {
    font-size: 16px;
  }
  .key {
    width: 50px;
  }
  #producer-title {
    font-size: 20px;
  }
  main {
    margin-left: 140px;
  }
  .letter {
    display: none;
  }

  .play-btn {
    margin: 10px;
  }
  .key-container {
    // display: block;
    margin-top: 10px;
  }

  .slider-container {
    width: 150px;
  }
  .slider-label {
    width: 50px;
  }

  .range {
    display: block;
    width: 100px;
  }

  .block {
    width: 100px;
    margin: 0;
  }

  .custom-range {
    width: 175px;
  }

  .player {
    width: auto;
    margin: 1em;
  }

  .center-div {
    margin: 0 auto;
  }

  .select {
    background-color: white;
    margin: 5px;
  }

  .key-row {
    display: block;
  }
}

// box-shadow: 3px 3px 7px rgba(15,15,15,0.8);
